.container-list-category{
    width:100%
}
.list-category{
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: left;
    width:100%;
    background-color: lightblue;
    border-radius: 20px;
   
}

.li-category{
    margin: 10px 20px ;
    color: black;
}

.li-category:hover{

    text-decoration: underline;

}