.cart{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: fit-content;
    border-radius:20px;
    background-color:  #31b572;
    color: white;

    padding:15px;
}

.cart-list{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    margin: 20px 0px;
}

.cart-list-li{

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
   
    margin: 15px 0px 0px 0px;
    width: 100%;
}

.cart-container-info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 30%;
}

.cart-li-img{
    width:50px;
    height: 50px;
}

.cart-input-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 30%;
}

.cart-soustotal-container{
    width: 30%;
}

.input-number{
    width: 50px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
}
.cart-title, .cart-total{
    text-transform: uppercase;

}

.cart-closed button{

    padding: 15px;
    border-color: transparent;
    background-color: #31b572;
    border-radius: 20px;
    color: white;
}

