.cart{
    width: 100%;
    height: fit-content;
    border-radius:20px;
    background-color:  #31b572;
    color: white;

    padding:15px;
}

.cart-list-li{
    margin-top: 15px;
}
.cart-title, .cart-total{
    text-transform: uppercase;

}

.cart-closed button{

    padding: 15px;
    border-color: transparent;
    background-color: #31b572;
    border-radius: 20px;
    color: white;
}

