.cart{
    width: 100%;
    height: fit-content;
    border-radius:20px;
    background-color:  #31b572;
    color: white;

    padding:15px;
}

.cart-list-li{
    margin: 15px 0px 0px 0px;
}

.input-number{
    width: 50px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
}
.cart-title, .cart-total{
    text-transform: uppercase;

}

.cart-closed button{

    padding: 15px;
    border-color: transparent;
    background-color: #31b572;
    border-radius: 20px;
    color: white;
}

